/* ===========================
   TEMA CLARO
=========================== */

body {
    background: #f5f5f5;
    color: #222;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

.pos-item,
.product-card,
.card-tactil {
    background: #fff;
    border: 1px solid #ddd;
}

table.cart th {
    background: #eee;
}
